- name: Deploy Riva API server
  kubernetes.core.helm:
    name: riva-api
    chart_ref: riva-api
    namespace: "{{ riva_namespace }}"
    create_namespace: true
    kubeconfig: "{{ kubeconfig }}"
    state: present
    values:
      ngcCredentials:
        password: "{{ ngc_api_key }}"
        email: "{{ ngc_email }}"
      modelRepoGenerator:
        modelDeployKey: "{{ 'tlt_encode' | b64encode }}"
        modelDeployVolume: ""
        artifactDeployVolume: ""
      service:
        type: NodePort

- name: Wait for the Riva API server to start
  kubernetes.core.k8s_info:
    host: "https://{{ cluster_api_vip }}:6443"
    kubeconfig: "{{ kubeconfig }}"
    kind: Pod
    namespace: "{{ riva_namespace }}"
    wait: true
    label_selectors:
    - app=riva-api
    wait_condition:
      type: Ready
      status: True
    wait_timeout: 600
    wait_sleep: 60
    validate_certs: false